h1 {
    color: #05ff3b
}
.header {
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
p,h2 {
    color: #0011ff;
    text-align: center;
}
.body.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}